


  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

  *{
    box-sizing: border-box;  
    margin: 0px ;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
   }

nav{
    position: fixed;
    max-width: 1600px;
    z-index: 10;
    left:0;
    right: 0;
    top: 0;
    margin: 0px auto;
    height: 60px;
    background-color: rgb(9, 7, 6); 
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
  
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    }


.nav-links li{
    height: 60px;
    width: 300px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.nav-links li a{
    padding: 5px;
    text-decoration: none;
    color: rgb(224, 224, 224);
    font-size: 15px;
    letter-spacing: 5px;

    height: 60px;
    width: 300px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
  
.nav-links li:hover{
    cursor: pointer;
    background-color:  rgba(255, 232, 229, 0.5);
    }


.burger div{
    width: 30px;
    height: 3px;
    background-color: rgb(224, 224, 224);
    margin: 5px;
    transition: all 0.3s ease;
} 

.burger{
    display: none;
}    


.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

 
header{
    max-width: 1600px;
    display:flex;   
    justify-content: center;
    margin: 0 auto 20px auto;
    background-color: #FFFF;
    border-bottom: 1px solid rgba(208, 101, 85, 0.5);
}

header img{   
    width:800px;
    height: 480px;
    padding-top: 30px;
}

body{
   
    margin: 0 auto;
    background-color: rgba(255, 232, 229, 0.3);
 }

main{
    max-width: 1600px;
    margin: 0 auto;
}

.both-about-and-carousel, .both-about-and-carousel2, .both-about-and-carousel3, .both-about-and-carousel4, .both-about-and-profilePic{
    display: flex;
    flex-wrap: wrap;
}


.about-carousel-container,.about-carousel-container2, .about-carousel-container3, .about-carousel-container4{
    min-width: 280px;
    flex:1;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-inna{
    min-width: 280px;
    flex:1;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outerDiv, .outerDiv2, .outerDiv3, .outerDiv4, .outerDiv5{
    flex:1;
    width: 350px;
    background-color:  white;
    position: relative;
    display: flex;
    align-items: center;
}

.outerDiv5{
    display: flex;
    justify-content: center;
}

.carousel-container, .carousel-container2, .carousel-container3, .carousel-container4{  
    width: inherit;
    margin: auto;
    overflow: hidden;
}

.carousel-slide, .carousel-slide2, .carousel-slide3, .carousel-slide4{
   display: flex;
   width: 100%;
   height: auto;
   padding: 10px 0px;
}

.prevBtn, .prevBtn2, .prevBtn3, .prevBtn4{
    position: absolute;
    top: 40%;
    z-index: 10;
    right: 5%;
    font-size: 100px;
    color: rgba(9,7,6,0.2);
    opacity: 0.7;
    cursor: pointer;
}

.nextBtn, .nextBtn2, .nextBtn3, .nextBtn4{
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 5%;
    font-size: 100px;
    color: rgba(9,7,6,0.3);;
    opacity: 0.7;
    cursor: pointer;
}

footer{
    max-width: 1600px;
    margin: 20px auto 0 auto;
    background-color: rgb(9, 7, 6); 
    color:rgb(224, 224, 224);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    letter-spacing: 5px;
}

footer ul span{
    font-size: 25px;
}

footer ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

footer a{
    color:rgb(224, 224, 224);
    text-decoration: none;
    letter-spacing: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    nav{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
   
    .burger{
        display: block;
        width:40px;
        height:40px;
        padding-right: 5px;;
        cursor: pointer;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 6.3vh;
        background-color: rgb(9, 7, 6, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:fit-content;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-active{
        transform: translateX(0%);
    }
    
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
           opacity: 1;
           transform: translateX(0px);
        }
    }
    .nav-links, body, header, .responsive, .carousel-slide img, .carousel-slide2 img, .carousel-slide3 img, .carousel-slide4 img{
       width: 100%;
       height: auto;
     }   

     .both-about-and-carousel, .both-about-and-carousel3, .both-about-and-profilePic{
        flex-direction: column;
    }

    .both-about-and-carousel2, .both-about-and-carousel4{
        flex-direction: column-reverse;
    }

    .outerDiv, .outerDiv2, .outerDiv3, .outerDiv4, .outerDiv5{
        overflow: hidden;
        width: 350px;
        margin: 0 auto;
    }

    .carousel-slide, .carousel-slide2, .carousel-slide3, .carousel-slide4{
        display: flex;
        width: 350px;
        margin: 0 auto;
        
    }

    .outerDiv .carousel-slide img, .outerDiv2 .carousel-slide2 img ,.outerDiv3 .carousel-slide3 img, .outerDiv4 .carousel-slide4 img{
        width: 350px;
        height: auto;
    }

    footer{
        height: 120px;
    }
   
   }


@media screen and (max-width: 769px) {

    .carousel-container .carousel-slide img, .carousel-container2 .carousel-slide2 img, .carousel-container3 .carousel-slide3 img, .carousel-container4 .carousel-slide4 img{
        width:350px;
        height: auto;
        margin:0 auto;
        
    }

    footer{
        height: 180px;
    }
    
}

@media screen and (max-width: 320px){

    .nav-links li{
        width: 100%;
    }

    .about-carousel-container, .outerDiv, .about-carousel-container2, .outerDiv2, .about-carousel-container3, .outerDiv3, .about-carousel-container4, .outerDiv4, .both-about-and-profilePic, .outerDiv5{   
        width:280px;
        margin: 0 auto;
    }

    .carousel-slide, .carousel-slide2, .carousel-slide3, .carousel-slide4{
        width: 280px;  
    }

    .carousel-container .carousel-slide img, .carousel-container2 .carousel-slide2 img, .carousel-container3 .carousel-slide3 img, .carousel-container4 .carousel-slide4 img, #profilePic{
        width:280px;
        height: auto;
        margin:0 auto;
        
    }

}